.webdevlopment {
color: aquamarine;
background-color: burlywood;
text-align: center;
font-size: 35px;
}
.text {
    font-size: 20px;
    background-color: black;
    color: white;
}
.image {
    background-color: blanchedalmond;
}
.work {
    background-color: coral;
}
.image2 {
    background-color: blanchedalmond;
}
.work2 {
    background-color: darksalmon;
}
.work3 p{
    font-size: 20px;
}
.work3 {
    background-color: darkkhaki;
}
.image3 {
    background-color: blanchedalmond;
}
.work3 span{
    color: red;
}
.work4 { 
background: #3d91b8; 
color: #ffffff; 
padding: 3px; 
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 1px solid gray;   
} 
.work4 span{
    color: aliceblue;
}